@tailwind base;
@tailwind components;
@tailwind utilities;

.file-input {
  @apply block w-full text-sm text-gray-500
    file:mr-4 file:py-2 file:px-4
    file:rounded-lg file:border-0
    file:text-sm file:font-semibold
    file:bg-cyan-50 file:text-cyan-700
    hover:file:bg-cyan-100
    cursor-pointer;
}